comtypes==1.4.16
contourpy==1.3.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.62.1
kiwisolver==1.5.0
linkify-it-py==2.1.0
markdown-it-py==4.0.0
matplotlib==3.10.9
mdit-py-plugins==0.5.0
mdurl==0.1.2
numpy==2.4.4
packaging==26.2
pillow==12.2.0
platformdirs==4.9.6
pygments==2.20.0
pyparsing==3.3.2
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.99
pywin32==311
rich==15.0.0
six==1.17.0
textual==8.2.5
typing-extensions==4.15.0
uc-micro-py==2.0.0
